<body>
<div class="overlay"></div>
<div class="accordion">
<mat-accordion>
  <mat-expansion-panel class="main" *ngFor="let item of cupboards">
    <mat-expansion-panel-header (click)="getShelf(item.id)">
      <mat-panel-title>
        <strong>{{item.title}}</strong>
      </mat-panel-title>
      <mat-panel-description>
        id:{{item.id}} 
      </mat-panel-description>
    </mat-expansion-panel-header> <!-- Це й блок про шафи -->
    <div class="icons">
    	<mat-card class="delete icon" (click)="deleteCupboard(item.id)">
    		<p>Delete</p>
    	</mat-card>
			<mat-card class="edit icon" (click)="updateCupboard(item.id)">
				<p>Edit</p>
			</mat-card>
			<mat-card class="create icon" (click)="createShelf(item.id)">
				<p>Create Shelf</p>
			</mat-card>
		</div>

		<mat-accordion *ngIf='shelves'>
			<mat-expansion-panel *ngFor="let shelf of shelves">
				<mat-expansion-panel-header (click)="getSectors(shelf.id)">
					<mat-panel-title>
						<strong>{{shelf.title}}</strong>
      		</mat-panel-title>
      		<mat-panel-description>
 						id:{{shelf.id}}
      		</mat-panel-description>
			 	</mat-expansion-panel-header> <!-- Це й блок про полиці -->

				<div class="icons">
		    	<mat-card class="delete icon" (click)="deleteShefl(shelf.id)">
		    		<p>Delete</p>
		    	</mat-card>
					<mat-card class="edit icon" (click)="updateShelf(item.id, shelf.id)">
						<p>Edit</p>
					</mat-card>
					<mat-card class="create icon" (click)="createSector(shelf.id)">
						<p>Create Sector</p>
					</mat-card>
				</div>

				<mat-accordion *ngIf='sectors'>
					<mat-expansion-panel *ngFor="let sector of sectors">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<strong>{{sector.title}}</strong>
		      		</mat-panel-title>
		      		<mat-panel-description>
		 						id:{{sector.id}}
		      		</mat-panel-description>
					 	</mat-expansion-panel-header>
						<div class="icons">
				    	<mat-card class="delete icon" (click)="deleteSector(sector.id)">
				    		<p>Delete</p>
				    	</mat-card>
							<mat-card class="edit icon" (click)="updateSector(shelf.id, sector.id)">
								<p>Edit</p>
							</mat-card>
						</div>

					 	<p class="reader"><strong>{{sector.reader.title}}</strong> id:{{sector.reader.id}}</p>

			 		</mat-expansion-panel>
				</mat-accordion>

	 		</mat-expansion-panel>
			</mat-accordion>

  </mat-expansion-panel>
</mat-accordion>
</div>
</body>
