<body>
<div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="sign_form">
    <div class="form-container">
      <h2>Sign in</h2>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">{{ErrorMessage}}</mat-error>
      </mat-form-field>
        
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.invalid && password.touched">{{ErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <button mat-button type="submit" [disabled] = "!profileForm.valid">Submit</button>
  </div> 
</form>
</div>
</body>
