<body>
	<div>
		<form [formGroup]="createSectorForm" (ngSubmit)="onSubmit(createSectorForm.value)">
		  <div class="create_sector_form">
		    <div class="form-container">
		      <h2>Create Shelf</h2>
		      <mat-form-field>
		        <input matInput placeholder="Title" formControlName="title">
		      </mat-form-field>
		      <mat-form-field>
		        <mat-label>Reader</mat-label>
						  <mat-select formControlName="readerId">
						    <mat-option *ngFor="let item of response" [value]="item.readerId">
						      {{item.title}}
						    </mat-option>
						  </mat-select>
		      </mat-form-field>
		    </div>
		    <button mat-button type="submit">Submit</button>
		  </div> 
		</form>
	</div>
</body>
